@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --blue: #005baa;
  --orange: #ff990f;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1)), url(../img/bg-florianopolis.avif) top center no-repeat;
  background-size: cover;
  color: var(--white);
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
  background: var(--gray-light);
  display: flex;
  padding: 16px;
  gap: 8px;
  justify-content: space-between;
}

header span {
  background: var(--gray-medium);
  padding: 8px;
  width: 15%;
  text-align: center;
}

header nav {
  background: var(--gray-medium);
  padding: 8px;
  width: 35%;
  text-align: center;
}



main {
  background: #ff0000;
}

main .section1 span {
  background: var(--gray-medium);
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section {
  background: #ccc;
  text-align: center;
  padding: 16px;

}

/* section:nth-child(even) {
  background: #D3D3D3;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

footer {
  background: var(--gray-light);
  padding: 8px;
}

footer span {
  background: var(--gray-medium);
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Seção2*/

.section2{
  text-align: center;
  background: var(--orange);
}

.feedbacks{
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  margin-top: 20px;
  gap: 16px;
}

.feedback{
  background: #000;
  border-radius: 16px;
  background: var(--white);
  padding: 8px;
}