:root {
  --gray-light: #d3d3d3;  /* Cinza claro */
  --gray-medium: #a9a9a9; /* Cinza médio */
  --gray-dark: #696969;   /* Cinza escuro */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: var(--gray-dark);
}

header {
  background: var(--gray-light);
  height: 60px;
  display: flex;
  padding: 16px;
  gap: 8px;
  justify-content: space-between;
}

header span {
  background: var(--gray-medium);
  padding: 8px;
  width: 15%;
  text-align: center;
}

header nav {
  background: var(--gray-medium);
  padding: 8px;
  width: 35%;
  text-align: center;
}



main {
  min-height: 600px;
  background: #ff0000;
}

main .hero {
  
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section {
  height: 250px;
  background: #ccc;
  text-align: center;
}

section:nth-child(even) {
  background: #D3D3D3;
}

footer {
  background: var(--gray-light);
  height: 48px;
}