.container-home {
  display: flex;
}

.container-home .hero {
  background: url(../../img/Home_Floripa_Tour.jpg) top center no-repeat;
  background-size: cover;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-home .hero__content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.container-home .hero span {
  font-size: 1.5rem;
  color: var(--white);
}

.container-home .hero h1 {
  font-size: 3rem;
  color: var(--white);
}

.container-home .hero p {
  font-size: 2rem;
  color: var(--white);
  text-align: center;
}
