.container-tours {
  display: flex;
  flex-direction: column;
}

/*Passeios em Destaque */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 24px;
  padding: 32px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
}

.card-body h3 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #333; /* Altera a cor do título para um tom mais escuro */
}

.card-body p {
  color: #666;
  font-size: 15px;
  line-height: 1.5; /* Aumenta o espaçamento entre linhas */
}

.card-body a {
  display: inline-block;
  padding: 10px 20px; /* Ajusta o espaçamento */
  background-color: #ff990f;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #f0f0f0;
  transition: background-color 0.3s; /* Efeito de transição suave para a cor de fundo */
}

.card-body a:hover {
  background-color: #e68a0b;
}

.hidden {
  display: none;
}

.details-container {
  padding: 20px;
}

.details-header img {
  width: 100%;
  height: auto;
}

.back-button {
  margin-bottom: 10px;
  cursor: pointer;
}

.cards-container,
.details-container {
  transition: opacity 0.3s ease;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Faz com que as colunas se ajustem automaticamente */
  gap: 15px; /* Espaçamento entre as imagens */
  padding: 20px; /* Espaçamento interno da galeria */
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Bordas arredondadas nas imagens */
  object-fit: cover; /* Faz a imagem cobrir o espaço sem distorcer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras sutis para as imagens */
  transition: transform 0.3s ease-in-out; /* Animação suave no hover */
}

.gallery-image:hover {
  transform: scale(1.05); /* Aumenta um pouco o tamanho da imagem no hover */
}

.details-container {
  max-width: 800px;
  margin: 32px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.details-header img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}
