footer {
  background: var(--gray-light);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer span {
  background: var(--gray-medium);
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 14px;
}
