header {
  background: var(--gray-light);
  display: flex;
  padding: 16px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 250px;
}

header nav {
  background: var(--gray-medium);
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center; /* Centraliza o menu */
  gap: 16px;
}

header nav ul a {
  text-decoration: none;
  color: var(--grey);
  font-size: 1.5rem;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

header nav ul a:hover {
  color: var(--orange);
  transform: scale(1.05);
}
