@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --blue: #005baa;
  --orange: #ff990f;
  --white: #fff;
  --grey: #808080;

  --text-color: --grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1)), url(../img/bg-florianopolis.avif) top center no-repeat; */
  /* background-size: cover; */
  background: var(--white);
  color: var(--text-color);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  display: flex;
  flex-direction: column;
}

header {
  background: var(--gray-light);
  display: flex;
  padding: 16px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 250px;
}

header nav {
  background: var(--gray-medium);
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center; /* Centraliza o menu */
  gap: 16px;
}

header nav ul a {
  text-decoration: none;
  color: var(--grey);
  font-size: 1.5rem;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

header nav ul a:hover {
  color: var(--orange);
  transform: scale(1.05);
}

main {
  display: flex;
  flex-direction: column;
}

/* .child {
  flex: 1; /* Faz o elemento filho ocupar o espaço disponível */
/* background-color: #4CAF50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
*/

/* main .section1 span {
  background: var(--gray-medium);
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section {
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-page {
  background-color: var(--blue);
  padding: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.heading-page h1 {
  color: var(--white);
  font-weight: normal;
  font-size: 3rem;
}
.heading-page h3 {
  color: var(--white);
  font-weight: normal;
  font-size: 2rem;
}

.section1 {
  background: url(../img/Home_Floripa_Tour.jpg) top center no-repeat;
  background-size: cover;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section:nth-child(even) {
  background: #D3D3D3;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

footer {
  background: var(--gray-light);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer span {
  background: var(--gray-medium);
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 14px;
}

/*Seção2*/

.section2 {
  text-align: center;
  background: var(--orange);
  padding: 80px 0 80px 0;
}

.feedbacks {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  margin-top: 20px;
  gap: 16px;
}

.feedback {
  background: #000;
  border-radius: 16px;
  background: var(--white);
  padding: 32px;
}

#menu :hover {
  float: left;
}
  
  

	
	


