.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  transition: transform 0.2s; /* Adiciona uma transição suave */
}

.card:hover {
  transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
}

.card-body h3 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #333; /* Altera a cor do título para um tom mais escuro */
}

.card-body p {
  color: #666;
  font-size: 15px;
  line-height: 1.5; /* Aumenta o espaçamento entre linhas */
}

.card-body a {
  display: inline-block;
  padding: 10px 20px; /* Ajusta o espaçamento */
  background-color: #ff990f;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #f0f0f0;
  transition: background-color 0.3s; /* Efeito de transição suave para a cor de fundo */
}

.card-body a:hover {
  background-color: #e68a0b;
}
